<nav class="navbar navbar-light">
        <div class="container">
          <div class="row">
              <ul class="nav navbar-nav">
               
              </ul>
              </div>
          <ul class="nav navbar-nav pull-xs-right">
              <li class="nav-item">
                  <a   routerLink="/Login">Login</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/NewUser">New User</a>
                </li>
                <li>
                  <a routerLink="/Profile">My Profile</a>
                </li>
                <li>
                  <a routerLink="/ChangPassword">Chang Password</a>
                </li>
                <li>
                  <a routerLink="/Logout" >Logout</a>
                </li>
              </ul>
      
        </div>
      </nav>